.cover__link {
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .cover__link  {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link  {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__link  {
    min-height: 200px;
  }
}