.place__text {
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 550px) {
  .place__text_size_l {
    width: 95%;
  }
}