.lead__image {
  width: 984px;
  height: 615px;
  margin: 0 calc((100vw - 984px)/2 * -1);
}

@media (max-width: 1024px) {
  .lead__image {
    width: calc(100vw - 96px);
    height: 100%;
    margin: 0 calc(96px / 2 * -1);
  }
}

@media (max-width: 768px) {
  .lead__image {
    width: 100vw;
    margin: 0;
  }
}

