@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);

.cover {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1184px;
  align-self: center;
  position: relative;
}

@media (max-width: 1024px) {
  .cover  {
    margin: 0;
    max-width: 100%;
  }
}
